[flake8]
exclude = 
    .git,
    __pycache__,
    .venv,
    .tox,
    .eggs,
    *.egg,
    .pytest_cache,
    .mypy_cache,
    .cache,
    .vscode,
    .idea,
    .ipynb_checkpoints,
    .github,
    .github/workflows,
    .github/workflows/*.yml,
    .github/workflows/*.yaml,
    .github/workflows/*.py,
    .github/workflows/*.sh,
    .github/workflows/*.bat,
    .github/workflows/*.ps1,
    .github/workflows/*.psm1,
    .github/workflows/*.psd1,
    .git
    /hamnspam
    .csv
    ./venv/*
    .pkl
    .lock
    .toml
ignore = 
    E501,E121,E126